/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-ski-resort-block {
	width: 100%;
	max-width: 500px !important;

	.srb {
		&__container {
			display: flex;
			flex-direction: column;
			border-radius: 4px;
			overflow: hidden;
			box-shadow: 0 0 5px 2px #f5f5f5;

			&:hover {
				.srb__thumbnail img {
					transform: scale(1.1);
				}
			}
		}

		&__header {
			width: 100%;
			padding: 15px 10px;
			background-color: #333;
		}

		&__title {
			font-size: 22px;
			font-weight: bold;
			color: white;
		}

		&__thumbnail {
			width: 100%;
			position: relative;
			
			picture {
				display: block;
				width: 100%;
				height: 250px;
				overflow: hidden;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: 0.2s linear;
			}
		}

		&__thumbnail__caption {
			width: 100%;
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			color: white;
			padding: 10px;
			background-color: rgba(51, 51, 51, 0.8);
		}

		&__thumbnail__title {
			font-size: 22px;
			text-transform: uppercase;
		}

		&__thumbnail__origin {
			font-size: 14px;
		}

		&__content {
			width: 100%;
			background-color: white;
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 15px;
		}

		&__item {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			flex: 0 50%;
			padding: 20px 10px;

			&--assertive {
				font-size: 70px;
				color: #d1502e;
			}

			&--weather {
				svg {
					width: 80px;
					height: 80px;
				}
			}

			span {
				display: flex;
				align-items: center;

				&.baseline {
					align-items: baseline;
				}
			}

			div {
				display: flex;
			}

			strong {
				font-size: 30px;
				margin-right: 10px;
				font-weight: 500;
			}
		}

		&__icon--lighter {
			opacity: 0.5;

			svg {
				margin-right: 15px;
			}
		}
	}
}